{% extends 'blog/base.html' %}
{% block content %}
	<div class='contain'>
		<br>
		<p>yayınlanma tarihi : {{post.published_date}}</p>
		<p>{{post.text|linebreaksbr}}</p>
	</div>

	{% if comments %}
		<div class='contain'>
			<h2>Yorumlar</h2>
		</div>
		
		{% for comment in comments %}
			<div class='contain' style="margin-bottom: 10px !important;">
				{{comment.date}} tarihinde, <b>{{comment.fullname}}</b> demiş ki<br>
				{{comment.text}}
			</div>
		{%endfor%}
	{% else %}
		<div class='contain'>
			Hiç yorum yok:(
		</div>
	{% endif %}

	<div class="contain">
		<h2>Yorum Bırak</h2>
		<form method="POST" class="post-form">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="save btn btn-default">Gönder</button>
		</form>
	</div>
{% endblock %}