{% extends 'blog/base.html' %}
{% block content %}

{% for post in posts %}
            <div class="contain">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>yayın tarihi: {{ post.published_date }}</p>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

{% endblock %}