@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans');

main{
	top: 0;
	left: 0;
	margin-top: 0;
	position: absolute;
	width: 100%;
}

body {
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}

h1 a{
	font-family: 'Indie Flower', cursive !important;
	color: white;
	bottom: 0;
}

h2 a{
	color: red;
	font-family: 'Indie Flower', cursive !important;
}

a:hover{
	text-decoration: none;
	transition: 300ms;
}

.header{
	background: black;
	color: white;
	height: auto;
	width: 100%;
	margin-top: 0;
	top: 0;
	text-align: center;
	size: 72px;
	display: inline-block;
}

.contain{
	padding-left: 10%;
	padding-right: 10%;
}